/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    width: 100%;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

i {
    margin: 0 10px;
}

/* palette colori */

:root {
    --blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --dark-grey: #333333;
    --light: #FFFFFF;
}

/* layouts */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row,
.col-8-row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col"] {
    display: flex;
    align-items: center;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}


/* utility classes */

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.border-radius {
    border-radius: 20px;
    background-color: var(--light-blue);
}

.padding {
    padding: 12px;
}

.margin-bottom {
    margin-bottom: 50px;
}

/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

.button-blue {
    color: white;
    line-height: 40px;
    text-align: center;
    background-color: var(--blue);
    border-radius: 20px;
    padding: 0 50px;
}

/* header */
.page-header {
    background-color: var(--blue);
    padding: 20px;
    color: white;
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
}

.boorgir {
    display: none;
    color: white;
    font-size: 25px;
}


/* main */

.hero {
    margin: 50px;
}

h3 {
    font-size: 25px;
    color: var(--blue);
}

p {
    color: var(--dark-grey);
    line-height: 30px;
}

.content-col-6 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 100%;
}

.hero-img {
    margin: 0 auto;
    max-height: 100%;
    max-width: 60%;
}

.content-col-6>div {
    padding: 15px;
}

.card-plan {
    padding: 10px 0px 0px 0px;
    height: 100%;
}

.image-col-6 {
    flex-basis: calc((100% / 12) * 6);
    display: flex;
    align-self: end;
}

.col-4>.card-plan {
    text-align: center;
}

.blue-item {
    font-size: 80px;
    color: var(--blue);
    padding: 15px;
}

/* debug */

.debu .container,
.debu .container-medium,
.debu .container-small {
    border: 1px solid var(--yellow);
    padding: 10px;
    background-color: tomato;
}

.debu .row {
    border: 1px solid var(--purple);
    background-color: #9792E4;
}

.debu [class^="col"] {
    background-color: green;
    border: 1px solid orange;
    display: flex;
    align-items: center;
}


.debug .container-hero {
    max-width: 1164px;
    margin: 0 auto;
}

.debug .row-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

* .row-hero>[class^='col'] {
    padding: 10px;
}









@media (max-width:768px) {
    .navbar-list {
        display: none;
    }

    .boorgir {
        display: block;
        color: white;
    }

    .card-plan {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .image-col-6 {
        display: flex;
        align-self: start;
    }


    

    .hero-img {
        margin: 0;
        max-height: none;
    }
}

@media (max-width:576px) {

    .navbar-list {
        display: none;
    }
}








/* <div class="col-6 content-col">         
                <div>
                  <h3>Get a demo Application</h3>
                </div>
                <div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eum inventore quo officiis iusto. Dolor tempora repellendus consectetur non ducimus.</p>
                </div>
                <div>
                  <a class="button-blue" href="#"><i class="fa-brands fa-apple"></i>App Store</a>
                </div>
            </div>
            <div class="col-6 content-col">
              <img class="hero-img" src="img/phone.png" alt="phone-image">
            </div>