/* Default settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
  list-style: none;

}

img {
  max-width: 100%;
}


a {
  text-decoration: none;
  color: currentColor;
  display: inline-block;
}

i {
  margin: 0 10px;
}

/* palette colori */

:root {
  --blue: #0084FD;
  --light-blue: #B5DDFF;
  --purple: #9792E4;
  --yellow: #FDC15F;
  --dark-grey: #333333;
  --light: #FFFFFF;
}

/* layouts */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-medium {
  max-width: 1050px;
  width: 1200px;
  margin: 0 auto;
}

.container-small {
  max-width: 880px;
  margin: 0 auto;
}

.row,
.col-8-row {
  display: flex;
  flex-wrap: wrap;
}

[class^="col"] {
  display: flex;
}

.col-4 {
  flex-basis: calc((100% / 12) * 4);
}

.col-6 {
  flex-basis: calc((100% / 12) * 6);
}

.col-8 {
  flex-basis: calc((100% / 12) * 8);
}

.col-12 {
  flex-basis: calc((100% / 12) * 12);
}


/* utility classes */

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.border-radius {
  border-radius: 20px;
  background-color: var(--light-blue);
}

.border-radius-white {
  border-radius: 20px;
  background-color: var(--light);
}

.padding {
  padding: 12px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.purple-text {
  color: var(--purple);
}

.italic {
  font-style: italic;
  text-align: center;
  margin: 0 40px;
}

.margin-top-bot {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* component classes */

.button {
  color: black;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  padding: 0 18px;
}

.button-blue {
  color: white;
  line-height: 40px;
  text-align: center;
  background-color: var(--blue);
  border-radius: 20px;
  padding: 0 50px;
}

.button-purple {
  color: black;
  background-color: var(--purple);
  border-radius: 50%;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 30px;
}

.button-more {
  color: white;
  line-height: 40px;
  text-align: center;
  background-color: var(--purple);
  border-radius: 20px;
  padding: 0 20px;
  max-width: 40%;
}

/* header */
.page-header {
  background-color: var(--blue);
  padding: 20px;
  color: white;
  padding: 40px;
}

.navbar-list {
  display: flex;
  gap: 22px;
  align-items: center;
}

.boorgir {
  display: none;
  color: white;
  font-size: 25px;
}


/* main */

.hero {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-hero {
  max-width: 1164px;
  margin: 0 auto;
}

.row-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h3 {
  font-size: 25px;
  color: var(--blue);
}

.strategic-h3 {
  font-size: 25px;
  color: white;
  margin-top: 90px;
  margin-bottom: 40px;
}

p {
  color: var(--dark-grey);
  line-height: 30px;
}

.content-col-6 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 100%;
  padding: 20px;
  row-gap: 40px;
}

.development-image-col-6 {
  max-width: 60%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.strategic-col-6 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

}

.white-bkg {
  background-color: var(--light);
  border-radius: 44px;
  align-self: flex-end;
  align-items: center;
}

.hero-img {
  margin: 0 auto;
  max-height: 100%;
  max-width: 60%;
}


.card-plan {
  padding: 10px 0px 0px 0px;
  height: 100%;
}

.image-col-6 {
  flex-basis: calc((100% / 12) * 6);
  display: flex;
  align-self: end;
}

.col-4>.card-plan {
  text-align: center;
}

.blue-item {
  font-size: 80px;
  color: var(--blue);
  padding: 15px;
}

.strategic {
  background-color: var(--purple);
  padding-top: 80px;
  padding-bottom: 40px;
}

.row-strategic {
  display: flex;
  gap: 60px;
}

.testimonials-title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
h4 {
  text-transform: uppercase;
}
 h2 {
  color: var(--purple);
  font-size: 40px;
 }

 .testimonials-title > p {
  font-size: 18px;
  text-align: center;
 }

.testimonials-image {
  max-width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials {
  display: flex;
  gap: 50px;
  align-items: center;
  background-color: var(--purple);
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
}

.testimonials-opinion > p {
  color: white;
}

.testimonials-names {
  text-transform: uppercase;
  margin: 10px 0;
}

.benefits {
  display: flex;
  background-color: var(--purple);
  margin-top: 60px;
  padding-bottom: 60px;
}

.benefits-title {
  font-size: 40px;
  color: white;
  padding-top: 40px;
  text-align: center;
}
 .benefits-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 .benefits-container {
  max-width: 1164px;
  margin: 0 auto;
 }

.col-4-benefits {
  flex-basis: calc((100% / 12) * 4);
  padding: 12px;
}

.benefits-numbers {
  font-size: 50px;
  color: var(--purple);
  font-weight: bold;
}

.h3-purple {
  color: var(--purple);
}

.more-padding {
  padding: 20px;
}


















/* debug */

.debu .container,
.debu .container-medium,
.debu .container-small {
  border: 1px solid var(--yellow);
  padding: 10px;
  background-color: tomato;
}



.debu [class^="col"] {
  background-color: green;
  border: 1px solid orange;
  display: flex;
}




.row-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

* .row-hero>[class^='col'] {
  padding: 12px;
}









@media (max-width:768px) {
  .navbar-list {
    display: none;
  }

  .boorgir {
    display: block;
    color: white;
  }

  .card-plan {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .image-col-6 {
    display: flex;
    align-self: start;
  }

  .hero-img {
    margin: 0;
    max-height: none;
    max-width: 60%;
  }

  .row-strategic {
    flex-wrap: wrap;
    justify-content: center;
  }

  .strategic-img {
    width: 400px;
    max-width: 100%;
  }
}

@media (max-width:576px) {

  .navbar-list {
    display: none;
  }

  .row-hero {
    flex-direction: column;
  }

  .content-col-6 {
    align-items: start;
    padding: 16px;
  }

  .image-col-6 {
    justify-content: center;
  }

  .margin-bottom {
    margin-bottom: 0px;
  }

  .margin-top-bot {
    text-align: center;
    margin: 30px;
  }

  .testimonials {
    flex-direction: column;
    margin: 20px;
    border-radius: 60px;
  }

  .testimonials-opinion > p {
    margin: 0 30px;
  }
}
